.headerTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;

  &__title {
    margin-left: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5B5B5B;

    padding: 12px 0 12px 40px;
    font-size: 20px;
  }

  &__search {
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__search :is(input, button) {
    border: none;
    outline: none;
  }

  &__search-input{
    width: 499px;
    background-color: #F2F2F2;
    padding: 6px 12px;
    height: 32px;
  
    &:focus {
      outline: none;
    }
  }

  &__search-btn {
    width: 25px;
    height: 32px;
    display: grid;
    place-items: center;
    background-color: transparent;
    transform: translateX(-35px);
  }

  &__export-button {
    display: flex;
    align-items: center;
    gap: 9.3px;
    margin-right: 173px;

    font-size: 12px;
    font-weight: 700;
    color: #C0C0C0;
    background-color: #fff;
    border: 0 solid transparent;

     & > p {
      text-transform: uppercase;
     }
  }
}




